extends ./layout.pug

block content
  //  banner-start 
  .banner-main
    .container
      .banner-content
        h1
          | WELCOME TO
          br
          | VACATION DESTINATIONS
        p Book The Perfect Vacation Home Today
  //  banner-end 
  //  Featured Properties-start 
  section.featured-properties
    .container
      .featured-content
        h2 Featured Properties
        .main-box
          each property in properties
            .box-img
              a(href="/properties/" + property._id)
                img(src="images/properties/"+property.image)
              h5=property.name
              .bookmark
                if arrBookmarkPropsIds.length > 0
                  if (!arrBookmarkPropsIds.includes(property._id.toString()))
                    a(href="user/bookmarks/add/"+property._id+"?_method=POST") Add to bookmark
                  if (arrBookmarkPropsIds.includes(property._id.toString()))
                    a(href="user/bookmarks/delete/"+property._id+"?_method=POST") Remove bookmark
                else
                  a(href="user/bookmarks/add/"+property._id+"?_method=POST") Add to bookmark

        .browse
          a(href="/properties") Browse More
  //  Featured Properties-end 
  //  About-start 
  section.about
    .container
      .border
      .about-content
        h2 About Vacation destinations
        p.
          We are a digital and branding company that believes in the power of creative strategy and along with great design.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio,dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.We are a digital and branding company that believes in the power of creative strategy and along withgreat design.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio,dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. We are a digital and branding company that believes in the power of creative strategy and along with great design.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio,dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

  //  About-end 
  //  City Attractions-start 
  section.city-attractions
    .container
      .city-content
        .border
        h2 City Attractions
        .city-content-main-box
          a(href="propert- details.html").


          .city-box-img
            a(href="propert- details.html")
              img(src="images/img02.png", all)
            h5
              a(href="propert- details.html")
              a.park-city(href="#") Remai Modern Museum
          a(href="propert- details.html").


          .city-box-img
            a(href="propert- details.html")
              img(src="images/img02.png", all)
            h5
              a(href="propert- details.html")
              a.park-city(href="#") Wanuskewin Heritage Park
          a(href="propert- details.html").


          .city-box-img
            a(href="propert- details.html")
              img(src="images/img03.png", all)
            h5
              a(href="propert- details.html")
              a.park-city(href="#") Saskatoon Farmers Market
          a(href="propert- details.html").


          .city-box-img
            a(href="propert- details.html")
              img(src="images/img03.png", all)
            h5
              a(href="propert- details.html")
              a.park-city(href="#") Forestry Farm Park & Zoo
  //  City Attractions-end 